project:
  type: book
  output-dir: _output

book:
  title: "Coen's AI Notes and Links"
  author: "(by several intelligences cooperating)"
  date: last-modified
  cover-image: attach/download-qr-code.png
  chapters:
    - index.qmd
    - download.qmd
    - chat-with-content.qmd
    - news.qmd
    - part: "AI Literacy"
      chapters:
        - key-tools.qmd
        - jargon-buster.qmd
        - transcribing.qmd
        - summarizing.qmd
        - context-management.qmd
        - sending-an-email.qmd
        - ai-quirks.qmd
        - ai-image-failures.qmd
        - my-17-minute-AI-workflow.qmd
        - ai-energy.qmd
        - markdown.qmd
        - aitiquette.brabantkennis.md
    - part: "AI"
      chapters:
        - ai.overview.qmd
        - prediction.amy.web.qmd
        - godfather-hinton.qmd
        - how-llms-generate-text.qmd
        - genai.qmd
        - feedback.qmd
        - jobs.ai.qmd
        - references.genai.qmd
        - nocodelowcode.qmd
        - references.ai.act.qmd
        - privacy.qmd
        - finding-data.qmd
        - transformers.qmd
    - part: "Train, Fine Tune, RAG, Validate"
      chapters:
        - train-finetune-rag.qmd
        - rag.qmd
        - finetune.qmd
        - train.qmd
        - recognition.qmd
        - validate.qmd
    - part: "Learning with AI"
      chapters:
        - education.ai.qmd
        - NBAAPL.qmd
    - part: "Programming with AI"
      chapters:
        - coding.qmd
        - vibecoding.qmd
        - dspy.qmd
        - softwareengineering.md
    - part: "Neural Networks"
      chapters:
        - NNetwork_choice.qmd
        - perceptron.qmd
        - the-learning-perceptron.qmd
        - problem-with-perceptron.qmd
        - neural-network.qmd
        - classifying-iris.qmd
        - magic-behind-nnetwork.qmd
        - types-nn.qmd
        - references.ai.qmd
    - part: "Tools-n-Technologies"
      chapters:
        - tools-n-co.md
        - n8n.qmd
        - git-intro.md
        - agents.qmd
        - mcp.qmd
        - acp.qmd
        - journalism.ai.qmd
    - part: "Experiments"
      chapters:
        - experiments/references.qmd
        - experiments/MCP-hands-on.qmd

format:
  pdf:
    pdf-engine: lualatex
    documentclass: book
    classoption: [landscape, oneside]
    geometry:
      - margin=2cm
    toc: true
    number-sections: true
    colorlinks: true
    fig-pos: "H"
    toc-depth: 2
    number-depth: 2
    include-in-header:
      text: |
        \usepackage{titlesec}
        \titleformat{\chapter}[hang]{\normalfont\huge\bfseries}{\thechapter.}{1em}{}
        \pagestyle{empty}
        \usepackage{float}
        \usepackage{graphicx}
        \usepackage{qrcode}
        \usepackage{emoji}
        \DeclareGraphicsExtensions{.pdf,.png,.jpg}
        \graphicspath{{./}{./attach/}}

metadata-files:
  - _metadata.yml
